{% if node.field_jumbotron_content is not empty %}
<section class="section section--jumbotron">
	<div class="contentWrapper contentWrapper--large contentWrapper--largeCarousel">
		<div class="jumbotron jumbotron--page">
			{% if node.field_jumbotron_image is not empty %}
				<div class="jumbotron-backgrounds">
					<div class="jumbotron-background jumbotron-background--image"
						style="background-image: url('{{ node.field_jumbotron_image.entity.uri.value | image_style('large') }}');"
						>
					</div>
				</div>
			{% else %}
				{% if node.field_image is not empty %}
				<div class="jumbotron-backgrounds">
					<div class="jumbotron-background jumbotron-background--image"
						style="background-image: url('{{ node.field_image.entity.uri.value | image_style('large') }}');"
						>
					</div>
				</div>
				{% else %}
				<div class="jumbotron-backgrounds">
					<div class="jumbotron-background jumbotron-background--image"
						style="background-image: url('/themes/taf/images/placeholder-default.jpg');"
						>
					</div>
				</div>
				{% endif %}
			{% endif %}
			<div class="contentWrapper contentWrapper--jumbotron">
				<div class="jumbotron-content">
					<div class="jumbotron-content-body">
						{{ node.field_jumbotron_content.value | raw }}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endif %}

{% if node.field_jumbotron_cta is not empty %}
<section class="jumbotron-cta">
	<div class="contentWrapper">
		<div class="jumbotron-cta-buttons jumbotron-cta-buttons--single">
			{% for cta in node.field_jumbotron_cta %}
				{% if loop.index == 1 %}
					
					<a href="{{ cta.url }}" class="jumbotron-cta-button jumbotron-cta-button--single">
						{{ cta.title }}
					</a>
				{% else %}
					<a href="{{ cta.url }}" class="jumbotron-cta-link">
						{{ cta.title }}
					</a>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</section>
{% endif %}