<div class="jumbotron {% if node.field_jumbotron_bg is not empty %}jumbotron--withBackground{% endif %}">
	{% if node.field_jumbotron_bg is not empty %}
	<div class="jumbotron-background"
		style="background-image: url({{ node.field_jumbotron_bg.entity.uri.value | image_style('jumbotron') }});"
		>
	{% else %}
	<div class="jumbotron-empty">
	{% endif %}
		<div class="container">
			<div class="row row--end">
				<div class="jumbotron-content">
					<h1>{{ node.field_jumbotron_title.value }}</h1>
					<p>{{ node.field_jumbotron_intro.value }}</p>
				</div>
			</div>
		</div>
	</div>
</div>