{% if node.field_paragraphs %}
	{% for paragraph in node.field_paragraphs %}
		{% set paragraphType = paragraph.entity.type.value.0.target_id %}
		
		{% if paragraph.entity.field_hidden.value == '1' %}
		
		{% else %}
		
			{% if paragraphType == 'video' %}
				{% include directory ~ '/templates/content/partials/paragraphs/text-with-video.html.twig' %}
			{% endif %}
			
			{% if paragraphType == 'text_with_image' %}
				{% include directory ~ '/templates/content/partials/paragraphs/text-with-image.html.twig' %}
			{% endif %}
			
			{% if paragraphType == 'text_two_columns' %}
				{% include directory ~ '/templates/content/partials/paragraphs/text-two-columns.html.twig' %}
			{% endif %}
			
			{% if paragraphType == 'view' %}
				{% include directory ~ '/templates/content/partials/paragraphs/view-paragraph.html.twig' %}
			{% endif %}
			
			{% if paragraphType == 'link_boxes' %}
				{% include directory ~ '/templates/content/partials/paragraphs/linkboxes.html.twig' %}
			{% endif %}
			
			{% if paragraphType == 'photos' %}
				{% include directory ~ '/templates/content/partials/paragraphs/photos.html.twig' %}
			{% endif %}
			
			{% if paragraphType == 'webform' %}
				{% include directory ~ '/templates/content/partials/paragraphs/webform-paragraph.html.twig' %}
			{% endif %}
		{% endif %}
	{% endfor %}

{% endif %}