<div class="jumbotron-video"
	style="background-image: url({{ paragraph.entity.field_image.entity.uri.value | image_style('jumbotron') }});"
	>
	<div class="container">
		<div class="row row--end">
			<div class="jumbotron-content">
				<h1>{{ paragraph.entity.field_title.value }}</h1>
				<p>{{ paragraph.entity.field_teaser.value }}</p>
				{% if paragraph.entity.field_link is not empty %}
				<a href="{{ paragraph.entity.field_link.0.url }}" class="arrowLink">
					{{ paragraph.entity.field_link.title }}
				</a>
				{% endif %}
			</div>
			<aside class="jumbotron-aside jumbotron-aside--video">
				<!-- Button trigger modal -->
				<a href="#" class="jumbotron-aside-link" data-toggle="modal" data-target="#exampleModal">
					<i class="fal fa-play-circle"></i>
					{{ paragraph.entity.field_video_title.value }}
				</a>
			</aside>
		</div>
	</div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
			
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div class="modal-body modal-body--noPadding">
				
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" src="{{ paragraph.entity.field_youtube_url.0.url }}"></iframe>
				</div>
			</div>
		</div>
	</div>
</div>