<div class="container">
	<div class="row row--centered">
		<div class="jumbotron-content">
			<h1>{{ paragraph.entity.field_title.value }}</h1>
			<p>{{ paragraph.entity.field_teaser.value }}</p>
			{% if paragraph.entity.field_link is not empty %}
			<a href="{{ paragraph.entity.field_link.0.url }}" class="arrowLink">
				{{ paragraph.entity.field_link.title }}
			</a>
			{% endif %}
		</div>
		<aside class="jumbotron-aside">
			<figure class="jumbotron-figure">
				<div class="jumbotron-figure-clouds">
					<img src="{{ paragraph.entity.field_image.entity.uri.value | image_style('jumbotron_image') }}" class="jumbotron-image">
				</div>
			</figure>
		</aside>
	</div>
</div>