<section class="section section--paragraph">
	<div class="container">
		<div class="linkBoxes">
		{% for box in paragraph.entity.field_boxes %}
			<div class="linkBox">
				<a href="{{ box.entity.field_link.0.url }}" class="linkBox-link">
					{% if box.entity.field_image is not empty %}
					<figure class="linkBox-figure">
						<img src="{{ box.entity.field_image.entity.uri.value | image_style('thumb') }}">
					</figure>
					{% endif %}
					<div class="linkBox-content">
						<h3>{{ box.entity.field_title.value }}</h3>
					</div>
				</a>
			</div>
		{% endfor %}
		</div>
	</div>
</section>