<section class="section section--paragraph">
	<div class="container">
		<div class="photos
			{% if paragraph.entity.field_type.value == "carousel" %}
			photos--carousel owl-carousel
			{% else %}
			photos--grid
			{% endif %}
			">
		{% for photo in paragraph.entity.field_photos %}
			<div class="photo">
				<img src="{{ photo.entity.uri.value | image_style('thumb') }}">
			</div>
		{% endfor %}
		</div>
	</div>
</section>

