<section class="section section--paragraph">
	<div class="container">
		<div class="row row--centered row--spaceBetween {% if paragraph.entity.field_text_position.value == 'right' %}row--reversed{% endif %}">
			<div class="page-content">
				{{ paragraph.entity.field_content.value | raw }}
				<!--
				<a href="{{ node.field_over_taf_link.0.url }}" class="btn btn--withArrow">
					{{ node.field_over_taf_link.title }}
				</a>
				-->
			</div>
			<aside class="page-aside">
				{% if paragraph.entity.field_image is not empty %}
				<img src="{{ paragraph.entity.field_image.entity.uri.value | image_style('large') }}"/>
				{% endif %}
			</aside>
		</div>
	</div>
</section>