<section class="section section--blue">
	<div class="container">
		<div class="box">
			<div class="page-content page-content--wide">
				<div class="video-caption">
					{{ paragraph.entity.field_content.value | raw }}
					<!--
					<a href="{{ node.field_over_taf_link.0.url }}" class="btn btn--withArrow">
						{{ node.field_over_taf_link.title }}
					</a>
					-->
				</div>
			
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" src="{{ paragraph.entity.field_youtube_url.0.url }}?rel=0"></iframe>
				</div>
		
			</div>
		</div>
	</div>
</section>