<section class="section {% if paragraph.entity.field_background_color_view.entity.name.value == 'Blue' %}section--blue{% else %}section--white{% endif %}">
	<div class="container">
		{{ drupal_view(paragraph.entity.field_view.target_id, paragraph.entity.field_view.display_id) }}
	</div>
</section>