<section class="section {% if paragraph.entity.field_background_color_view.entity.name.value == 'Blue' %}section--blue{% else %}section--white{% endif %}">
	<div class="container">
		<div class="row">
			<div class="page-content page-content--wide">
				{{ drupal_entity('webform', paragraph.entity.field_webform.entity.id) }}
			</div>
		</div>
	</div>
</section>