<header id="header" class="page-header" role="banner" aria-label="{{ 'Site header'|t}}">
	<div class="page-header-topBar">
		<div class="container">
			{{ page.search }}
		</div>
	</div>
	{% block head %}
	
	
	<div class="container">
		<div class="row row--centered">
			<div class="page-brand">
				<a href="/" title="Home" rel="home" class="page-brand-link">
					<img src="/themes/beekvliet/images/logo-beekvliet.jpg" alt="Home" class="page-brand-logo">
				</a>
			</div>
			<div class="primaryNavigation navbar-expand-lg">
				{% if page.primary_menu %}
				<button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#CollapsingNavbar" aria-controls="CollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
					<i class="fas fa-bars"></i>
				</button>
				<div class="collapse navbar-collapse" id="CollapsingNavbar">
					{{ page.primary_menu }}
					
					<a href="#" class="primaryNavigation-searchToggle js-searchToggle">
						<i class="fas fa-search"></i>
					</a>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
	{% endblock %}
</header>